<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaBoardSQL">
	<select id="getQnaBoardList"  parameterType="java.util.Map" resultType="qnaBoard" >
		<![CDATA[
			select * 
              from (select rownum rn
                         , tt.*
                      from (select * 
                              from qnaboard
                             where id = #{memId} 
                             order by seq desc
                            ) tt
                    )
		]]>
	</select>
	<!--  where rn >= #{startNum} and rn <= #{endNum} -->
	
	<select id="getOrderList" parameterType="String" resultType="java.util.Map">
		select ordernumber  
             , oi.logtime logtime
		     , pd.mainsubject mainsubject
		     , od.qty qty
		     , od.price price
		  from product pd
		 inner join OrderDetails od
		 using (productcode)
		 inner join OrderInfo oi
		 using (ordernumber)
		 where id= #{memId}
	</select>
	
	<select id="getQnaModify" parameterType="Integer" resultType="qnaBoard">
		select * 
		  from qnaboard
		 where seq = #{seq}
	</select>
	
	<insert id="qnaBoardWrite" parameterType="qnaBoard">
		insert 
  		  into qnaboard 
        values (
               seq_qnaboard.nextval
             , #{id}
             , #{orderNumber}
             , #{subject}
             , #{content}
             , #{fileName}
             , sysdate
             , #{category}
             , '0'
             , ''
             , ''
               )
	</insert>

	<update id="qnaBoardModify" parameterType="qnaBoard">
		update qnaboard 
		   set orderNumber = #{orderNumber}
		     , subject = #{subject}
			 , content = #{content}
			 , category = #{category}
			 <if test="fileName!=null">
			 , filename = #{fileName}
			  </if>	
			 , logtimeQ = sysdate
		 where seq = #{seq}	 
	</update>

	<delete id="qnaBoardDelete" parameterType="Integer">
		delete from qnaboard
		where seq = #{seq}
	</delete>
	
	<!-- 관리자 qnaboard 총 갯수 조회 -->
	<select id="getAdminQnaBoardCnt" parameterType="java.util.Map" resultType="Integer">
		select count(*) cnt
		  from qnaboard
		<if test="searchOption==null">
        	<choose>
           		<when test="selectGubun==0">
         where REPLYSTATUS = 0 		
           		</when>
           		<when test="selectGubun==1">
         where REPLYSTATUS = 1 	
           		</when>
           		<when test="selectGubun==null||selectGubun==9">
           		</when>
           	</choose>
            </if>
            <if test="searchOption==1">
         where subject like '%'||#{keyword}||'%' 
            </if>
           <if test="searchOption==2">
         where id like '%'||#{keyword}||'%'  
            </if>
            <if test="searchOption==3">
         where content like '%'||#{keyword}||'%'  
            </if>
            <if test="searchOption==4">
         where ordernumber like '%'||#{keyword}||'%'  
            </if>	  
	</select>
	
	<!-- 관리자 qnaboard 리스트 조회 -->
	<select id="getAdminQnaBoardList" parameterType="java.util.Map" resultType="qnaBoard">
		select *
		  from (
		        select rownum rn
		            , tt.*
		         from (   
		              select *
		                from qnaboard
		                <if test="searchOption==null">
		                	<choose>
		                		<when test="selectGubun==0">
		               where REPLYSTATUS = 0 		
		                		</when>
		                		<when test="selectGubun==1">
		               where REPLYSTATUS = 1 	
		                		</when>
		                		<when test="selectGubun==null||selectGubun==9">
		                		</when>
		                	</choose>
		                </if>
		                <if test="searchOption==1">
		              where subject like '%'||#{keyword}||'%' 
		               </if>
		               <if test="searchOption==2">
		              where id like '%'||#{keyword}||'%'  
		               </if>
		                <if test="searchOption==3">
		              where content like '%'||#{keyword}||'%'  
		               </if>
		                <if test="searchOption==4">
		              where ordernumber like '%'||#{keyword}||'%'  
		               </if>
		              order by seq desc 
		               ) tt
		       )
		 where rn between #{startNum} and #{endNum}               
	</select>
	
	<!-- 관리자 qnaboard 답변하기 위한 질문 1개 내용 조회-->
	<select id="getAdminQnaReply" parameterType="java.util.Map" resultType="qnaBoard">
		select * 
		  from qnaboard
		 where seq = #{seq}  
	</select>
	
	<!-- 관리자 qnaboard 답변하기  -->
	<update id="updateAdminReply" parameterType="java.util.Map">
		update qnaboard
		   set REPLYCONTENT = #{content}
		     , REPLYSTATUS = 1
		     , LOGTIMEA = sysdate
		 where seq = #{seq}    
	</update>
	
	<!-- <insert id="imageboardWrite" parameterType="imageboard">
		insert into imageboard values(seq_imageboard.nextval
									, #{imageId}
									, #{imageName}
									, #{imagePrice}
									, #{imageQty}
									, #{imageContent}
									, #{image1}
									, sysdate)
									
		insert into imageboard values(seq_imageboard.nextval
									, #{imageId}
									, #{imageName}
									, #{imagePrice}
									, #{imageQty}
									, #{imageContent}
									, #{image1}
									, sysdate
									, #{image2})
		
	</insert> -->
	<!-- 
	<select id="getImageboardList" parameterType="java.util.Map" resultType="imageboard">
		<![CDATA[
		select * from 
		(select rownum rn, tt.* from 
		(select * from imageboard order by seq desc) tt
		) where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>
	
	<select id="imageboardView" parameterType="int" resultType="imageboard">
		select * from imageboard where seq=#{seq}
	</select>
	
	<select id="getImageboardTotalA" resultType="int">
		select count(*) from imageboard
	</select>
	
	<delete id="imageboardDelete" parameterType="java.util.Map">
		delete imageboard where seq in
		<foreach collection="array" item="seq" index="i" open="(" close=")" separator=",">
			#{seq} ${array[i]}
		</foreach>
	</delete> -->
</mapper>



















