<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="suggestBoardSQL">
	<insert id="writeSuggestBoard" parameterType="suggestBoard">
		insert into suggestboard (seq, id, category, subject, content, imgName, logtimeQ) values 
		(seq_suggestBoard.nextVal, #{id}, #{category}, #{subject}, #{content}, #{imgName}, sysdate)		
	</insert>
	
	<select id="getSuggestBoardList" parameterType="java.util.Map" resultType="suggestBoard">
		select * from 
		(select rownum rn, temp.* from 
		(select * from suggestboard order by seq desc) temp) 
		where rn between #{startNum} and #{endNum}
	</select>
	
	<select id="getSuggestBoardTotArticle" resultType="int">
		select count(*) from suggestboard
	</select>
	
</mapper>