.join{
    background-color: #f9f9f9;
}
.join-content{
    width: 640px;
    margin: 0 auto;
    padding : 28px 26px;
    background: #FFFFFF;
}


.join-col{
    display: flex;
    margin-bottom: 24px;
    position: relative;
}
.join-title{
    line-height: 40px;
    width: 120px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

.join-btn{
    cursor: pointer;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    border-radius: 3px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #512771;    
}

.btn--primary{
    background-color: #5f0080;
    color: #fff;
    width: 150px;
}
.btn--white{
    background-color:white;
    color: #5f0080;
    width: 150px;
    pointer-events: none;
    opacity: 0.3;
}
.btn--lg{
    width: 320px;
    height: 53px;
    line-height: 53px;
}
.btn-addr{
    margin-left: 0px;
}
.join-input{
    padding: 0 9px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}
.input--full{
    width: 460px;
    height: 40px;
}
.input--lg{
    width: 300px;
    height: 40px;
}
.input--sm{
    width: 100px;
    padding: 10px;
}
.join-input::placeholder{
    opacity: 0.4;
}
.join__radio-group{
    display: flex;
    position: relative;
    top:15px;
}

/* radio 버튼 커스텀 */
.radion-container{
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    margin-right: 27px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.join__radio-group input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: 0;
    left: -5px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
    z-index: 30;
}
.checkmark::after {
    content:"";
    position: absolute;
    display: none;
    top: 7px;
	left: 6.8px;
	width: 5px;
	height: 5px;
    border-radius: 50%;
    background: white;
}

.join__radio-group input:checked ~.checkmark{
    background-color:#5F0080;
}
.radion-container input:checked ~ .checkmark:after {
    display: block;
  }

/* 생년월일 */
.join__birth{
    display: flex;
    height: 40px;
}
.join__birth-col{
    margin-right: 10px  ;
}
.join__birth-col > .join-input,
.join__birth-col > .join-input::placeholder{
    text-align: center;
}

/* 회원가입 하기 버튼 */
.join__submit-wrap{
    width: 640px;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: center;
}


