.main__banner,
.main__event {
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide.swiper-slide-active{z-index: 1;}
.main__banner-slide .swiper-slide img {
	position: relative;
	left: 50%;
    -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

.banner-slide-btn {
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 80;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}
.banner-btn--left {
    left: 35px;
}
.banner-btn--right {
    right: 35px;
}
.main__banner:hover .banner-slide-btn {
    opacity: 1;
}
.main__event,
.main__special {
    width: 1050px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

.main__event-tit {
    font-weight: 500;
    font-size: 28px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__event-thumb {
    width: 250px;
    height: 350px; 
}

.event-slide-btn {
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 285px;
    z-index: 100;
}

.slide-btn--left {
    right: -30px;
}
.slide-btn--right {
    left: -30px;
}
.main__event-content {
    position: relative;
    height: 500px;
}

.main__event-info {
    color: #333;
    font-size: 16px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.info-name {
    padding: 10px 0;
    line-height: 20px;
}
.info-price {
    padding-bottom: 10px;
    font-weight: 600;
}
.info-cost {
    text-decoration: line-through;
    font-size: 14px;
    color: #ccc;
}

.main__special {
    padding-top: 80px;
    display: flex;
    padding-bottom: 88px;
}
.main__special-tit {
    height: 173px;
    width: 338px;
    padding: 11px 0 7px 12px;
}
.main__special-tit h3 {
    font-weight: 500;
    font-size: 32px;
    color: #45b8ac;
}
.tit-desc::before {
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    margin: 18px 0 16px 2px;
    background-color: #999;
}
.tit-desc {
    font-weight: 400;
    font-size: 16px;
    color: #999;
    margin-bottom: 50px;
}
.main__special-content {
    width: 700px;
    color: #333;
}
.main__special-deco {
    font-size: 14px;
    color: #ccc;
    line-height: 20px;
}
.main__special-thumb {
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 16px;
}
.special-thumb {
    width: 700px;
    height: 338px;
    transition: all 0.3s ease-in-out;
}
.main__special-thumb:hover .special-thumb {
    transform: scale(1.02);
}

.main__special-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(69, 184, 172, 0.6);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    z-index: 100;
}
.special-count {
    margin-right: 8px;
}
.main__special-info {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}
.main__special-subject {
    margin-bottom: 8px;
}
.main__special-desc {
    color: #999;
    margin-bottom: 12px;
}
.main__special-price {
    margin-right: 8px;
    font-size: 20px;
}
.main__special-cost {
    color: #ccc;
    text-decoration: line-through;
    font-size: 14px;
}

.main__news {
    background-color: #f7f7f7;
}
.news__list {
    display: flex;
    justify-content: center;
}

.news__item {
    margin-right: 20px;
    height: 538px;
}

.news__item > a {
    display: block;
    overflow: hidden;
    width: 338px;
}

.news__item > a:hover .news__thumb {
    transform: scale(1.02);
}

.news__item img {
    width: 338px;
    height: 338px;
    transition: all 0.3s ease-in-out;
}

.news__subject {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 17px;
}

.news__desc {
    font-size: 16px;
    line-height: 20px;
    color: #999;
    text-align: center;
    margin-top: 17px;
}

/* 임창현 이벤트 이미지 css 추가 */
.dailyspecial-thumb{
	background-position:50% 50%;
	background-size:cover;
}
.news__thumb {
	background-position:60% 50%;
	background-size:cover;
}


/* 모바일 사이즈 */
@media (min-width: 320px) and (max-width: 480px) {
	body{min-width: 100%;}
	.my-page{display: none;}
	.gnb{display: none;}
	#lnbMenu{display: block;}
	.menu_shortcut{display: block;}
	
	.header{position: fixed; z-index: 2; width: 100%;}
	.header .header__main-wrap{height: 60px; top: 0; background: #45b8ac;}
	.header .header__main-logo{width: 15vw; position: relative; top: 50%; transform: translateY(-50%);}
	.header .cart_count{
		display: block;
		position: absolute;
	    width: 50px;
	    height: 50px;
		right: 0;
	    top: 50%;
		transform: translateY(-50%);
	    background: url(https://res.kurly.com/mobile/service/common/1908/ico_cart_fff_100x100.png) no-repeat 0 0;
    	background-size: 50px;
	}
	.header .cart_count .screen_out{
	    display: block;
	    overflow: hidden;
	    position: absolute;
	    left: -9999px;
	    width: 1px;
	    height: 1px;
	    font-size: 0;
	    line-height: 0;
	    text-indent: -9999px;
	}
	
	.main{padding-top: 105px;}
	.main__banner{display: block;}
	.main__banner .main__banner-slide{height: 70vw;}
	.main__banner .main__banner-slide .swiper-slide img{height: 100%; left: 90%;}
	.main__banner .main__event-tit{font-size: 15vw;}
	.main__banner .banner-slide-btn{opacity: 1;}
	.main__banner .banner-slide-btn img{width: 10vw;}
	.main__banner .banner-btn--left{left: 5px;}
	.main__banner .banner-btn--right{right: 5px;}
	
	.main > div:nth-child(2){display: block;}
	.main__event .swiper-container{width: 95%;}
	.main__event .swiper-slide.swiper-slide-active{margin-right: 3vw !important;}
	.main__event-slide1 .main__event-thumb{width: 100%; height: auto;}
	.main__event .main__event-content{height: auto;}
	.main__event .main__event-content .main__event-info{font-size: 3vw;}
	.main__event .event-slide-btn{top: 50%; opacity: 0.5;}
	.main__event .event-slide-btn img{width: 13vw;}
	.main__event .slide-btn--right{left: -1.5vw;}
	.main__event .slide-btn--left{right: -1.5vw;}
	
	.main__special{display: block;}
	
	.main__event{width: 100%; display: none;}
	.main__news{display: none;}
	
	.dailyspecial-countdown{display: none;}
	.dailyspecial-info{display: none;}
}
