.wrap{
    width: 980px;
    margin: 0 auto;
}
.header{
    width: 1050px;
    margin: 0 auto;
    position: relative;  
}
.header__deliver-img{
    position: absolute;
    height:22px;
    width: 163px;
    top: 10px;
}
/* 마이페이지 */
.my-page{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 500;
}
.my-page__item > a{
    height: 37px;
    line-height: 35px;
    padding: 0 10px;
    border-right: 1px solid #ebebeb;
}
.my-page__item:last-child >a{
    border-right-style: none;
}
.my-page__item:last-child{
    padding-left: 10px;
    padding-right: 0;
}

/* 메인로고 */
.header__main-wrap{
    display: flex;
    justify-content: center;
    position: relative;
    height: 63px;
}
.header__main-logo {
    position: absolute;
    width: 99px;
    height: 79px;
    top: -20px;
    left: 480px;
}


/* 대메뉴 */
.gnb{
    height: 56px;
    display: flex;
    align-items: center;
    transition: postion 0.5s ease-in;
}
.gnb__list{
    display: flex;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
    position: relative;
}
.gnb__item i {
    margin-right: 8px;
}
.gnb__item{
    color: #333;
    font-weight: 500;
    font-size: 16px;
}
.gnb__item > a{
    display: block;
    height: 56px;
    line-height: 56px;
}
.gnb__item > a > span{
    padding: 0 50px;
    border-right: 1px solid #ebebeb;
}
.gnb__item:first-of-type > a > span{
    padding-left: 0;
}
.gnb__item:last-of-type > a > span{
    border-right: none;   
}


/* gnb cart */
.gnb .cart_count{
	position: absolute;
	right: 0;
}
.gnb .cart_count .btn_cart{
	display: inline-block;
}
.gnb .cart_count .btn_cart img{
	width: 36px;
}

/* gnb 카테고리 메뉴  */ 
.gnb__cateogry{
    height: 320px;
    position: absolute;
    padding: 20px 0;
    background: white;
    border: #45b8ac 1px solid;
    display: none;
}
.gnb__menu{
    border-right:1px solid #ebebeb;
}
.gnb__menu:last-of-type{
    border: none;
}
.gnb__menu >li >  a{
    display: block;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    width: 130px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.gnb__menu > li > a:hover{
    color: #45b8ac;
}

.gnb__menu > li:first-of-type a{
    font-size: 15px;
    font-weight: 700;
    background: #f7f7f7;    
}

.gnb__item:first-of-type:hover .gnb__category{
    display: flex;
}


.qna{
    position: relative;
}

/* mypage, qna 메뉴 */
.my-page__menu,.qna__menu{
    box-sizing: border-box;
    position: absolute;
    display:none;
    z-index:200;
    border: 1px solid #ddd;
    padding: 9px 0 9px 9px;
    width: 102px;
}
.my-page__menu li, .qna__menu li{
    margin-bottom: 12px;
}
.my-page__menu li:last-child, .qna__menu li:last-child{
    margin-bottom: 0px;
}

/* mypage, qna hover 일때 menu 나타나게 */
.my-page__mypage:hover .my-page__menu, .my-page__qna:hover .qna__menu{
    display: block;
} 

/* 스크롤 200 까지 내려갔을 때 */
.fixed{
    background:#FFFFFF;
    position: fixed;
    border-bottom: #e3e7ee 1px solid;
    width: 100%;
    top: 0;
    z-index: 30;
}
.footer{
    height:200px;
}

/* 메인 부분 컨테이너 */
.content{
    margin-bottom: 30px;
    padding-bottom: 70px;
    min-width: 1050px;
}

.page-location{
    width: 1050px;
    height: 44px;
    margin: 0 auto;
    padding-top: 26px;
    font-size: 12px;
    color: #4c4c4c;
    display: flex;
    justify-content: flex-end;
}
.content__title-location{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.content__title{
    font-size: 20px;
    font-weight:600;
    line-height: 20px;
    color: #333;
}
.content__type{
    width: 640px;
    margin: 20px auto 10px auto;
    display: flex;
    justify-content: flex-end;
    color: red;
}
.on{
    display: block;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
