.wrap {
    width: 980px;
    margin: 0 auto;
}
.header {
    width: 1050px;
    margin: 0 auto;
    position: relative;
}
.header__deliver-img {
    position: absolute;
    height: 22px;
    width: 163px;
    top: 10px;
}
/* 마이페이지 */
.my-page {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 500;
}
.my-page__item > a {
    height: 37px;
    line-height: 35px;
    padding: 0 10px;
    border-right: 1px solid #ebebeb;
}
.my-page__item:last-child > a {
    border-right-style: none;
}
.my-page__item:last-child {
    padding-left: 10px;
    padding-right: 0;
}

/* 메인로고 */
.header__main-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    height: 67px;
}
.header__main-logo {
    position: absolute;
    width: 99px;
    height: 92px;
    top: -20px;
    left: 480px;
}

/* 대메뉴 */
.gnb {
    height: 56px;
    display: flex;
    align-items: center;
    transition: postion 0.5s ease-in;
    border-bottom: #e3e7ee 1px solid;
}
.gnb__list {
    display: flex;
    align-items: center;
    min-width: 1050px;
    margin: 0 auto;
    position: relative;
}
.gnb__item i {
    margin-right: 8px;
}
.gnb__item {
    color: #333;
    font-weight: 500;
    font-size: 16px;
}
.gnb__item > a {
    display: block;
    height: 56px;
    line-height: 56px;
}
.gnb__item > a > span {
    padding: 0 50px;
    border-right: 1px solid #ebebeb;
}
.gnb__item:first-of-type > a > span {
    padding-left: 0;
}
.gnb__item:nth-of-type(5) > a > span {
    border-right: none;
}

/* gnb cart */
.gnb .cart_count {
    position: absolute;
    right: 0;
}
.gnb .cart_count .btn_cart {
    display: inline-block;
}
.gnb .cart_count .btn_cart img {
    width: 36px;
}

/* gnb 카테고리 메뉴  */
.gnb__category {
    height: 320px;
    position: absolute;
    padding: 20px 0;
    background: white;
    border: #45b8ac 1px solid;
    display: none;
    z-index: 100;
}
.gnb__menu {
    border-right: 1px solid #ebebeb;
}
.gnb__menu:last-of-type {
    border: none;
}

.gnb__menu > li > a {
    display: block;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    width: 130px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.gnb__menu > li > a:hover {
    color: #45b8ac;
}

.gnb__menu > li:first-of-type a {
    font-size: 15px;
    font-weight: 700;
    background: #f7f7f7;
}

.gnb__item:first-of-type:hover .gnb__category {
    display: flex;
}

/* gnb 검색  */
.gnb__search {
    width: 238px;
    position: relative;
}

.gnb__search-txt {
    all: unset;
    height: 36px;
    width: 166px;
    padding: 0 50px 0 20px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
    font-size: 12px;
    color: #666;
}
.gnb__search-btn {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    height: 36px;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.gnb__search-btn img {
    width: 30px;
    height: 30px;
}
.gnb__search-txt:focus {
    background-color: white;
}

/* gnb 카트 */
.gnb__cart {
    position: relative;
    margin-left: 15px;
    cursor: pointer;
}
.gnb__cart img {
    width: 36px;
    height: 36px;
}
.gnb__cart-count {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45b8ac;
    color: white;
}

.qna {
    position: relative;
}

/* mypage, qna 메뉴 */
.my-page__menu,
.qna__menu {
    box-sizing: border-box;
    position: absolute;
    display: none;
    z-index: 200;
    border: 1px solid #ddd;
    padding: 9px 0 9px 9px;
    width: 102px;
    background-color: #fff;
}
.my-page__menu li,
.qna__menu li {
    margin-bottom: 12px;
}

.my-page__menu li:last-child,
.qna__menu li:last-child {
    margin-bottom: 0px;
}

/* mypage, qna hover 일때 menu 나타나게 */
.my-page__mypage:hover .my-page__menu,
.my-page__qna:hover .qna__menu {
    display: block;
}

/* 스크롤 200 까지 내려갔을 때 */
.fixed {
    background: #ffffff;
    position: fixed;
    border-bottom: #e3e7ee 1px solid;
    width: 100%;
    top: 0;
    z-index: 150;
}
.footer {
    height: 200px;
}

/* 메인 부분 컨테이너 */
.content {
    margin-bottom: 30px;
    padding-bottom: 70px;
    min-width: 1050px;
}

.page-location {
    width: 1050px;
    height: 44px;
    margin: 0 auto;
    padding-top: 26px;
    font-size: 12px;
    color: #4c4c4c;
    display: flex;
    justify-content: flex-end;
}
.content__title-location {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.content__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}
.content__type {
    width: 640px;
    margin: 20px auto 10px auto;
    display: flex;
    justify-content: flex-end;
    color: red;
}
.on {
    display: block;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 별 이미지 */
.star-lg-0,
.star-lg-5,
.star-lg-10,
.star-lg-15,
.star-lg-20,
.star-lg-25,
.star-lg-30,
.star-lg-35,
.star-lg-40,
.star-lg-45,
.star-lg-50 {
    background: url('/mintProject/shop/storage/mint/icon/star-score-lg.png')
        no-repeat;
    height: 35px;
    width: 220px;
}
.star-lg-0 {
    background-position: 0 0;
}
.star-lg-5 {
    background-position: 0 -35px;
}
.star-lg-10 {
    background-position: 0 -70px;
}
.star-lg-15 {
    background-position: 0 -105px;
}
.star-lg-20 {
    background-position: 0 -140px;
}
.star-lg-25 {
    background-position: 0 -175px;
}
.star-lg-30 {
    background-position: 0 -210px;
}
.star-lg-35 {
    background-position: 0 -245px;
}
.star-lg-40 {
    background-position: 0 -280px;
}
.star-lg-45 {
    background-position: 0 -315px;
}
.star-lg-50 {
    background-position: 0 -350px;
}

.star-sm-0,
.star-sm-5,
.star-sm-10,
.star-sm-15,
.star-sm-20,
.star-sm-25,
.star-sm-30,
.star-sm-35,
.star-sm-40,
.star-sm-45,
.star-sm-50 {
    background: url('/mintProject/shop/storage/mint/icon/star-score-sm.png')
        no-repeat;
    height: 12px;
    width: 60px;
}
.star-sm-0 {
    background-position: 0 0;
}
.star-sm-5 {
    background-position: 0 -12px;
}
.star-sm-10 {
    background-position: 0 -24px;
}
.star-sm-15 {
    background-position: 0 -36px;
}
.star-sm-20 {
    background-position: 0 -48px;
}
.star-sm-25 {
    background-position: 0 -60px;
}
.star-sm-30 {
    background-position: 0 -72px;
}
.star-sm-35 {
    background-position: 0 -84px;
}
.star-sm-40 {
    background-position: 0 -96px;
}
.star-sm-45 {
    background-position: 0 -108px;
}
.star-sm-50 {
    background-position: 0 -120px;
}

/* 모달 */
.notice-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}
.notice-modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.notice-modal__content {
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.notice-modal__close-btn {
    all: unset;
    width: 20px;
    height: 20px;
    background-image: url('https://res.kurly.com/pc/etc/old/images/common/icon-close-button.png');
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    cursor: pointer;
}
.notice-modal__header {
    padding: 28px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.notice-modal__tit {
    font-size: 14px;
    font-weight: bold;
    color: #00666b;
}
.notice-modal__message {
    height: 110px;
    color: #4c4c4c;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.notice-modal__footer {
    height: 100px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice-modal__yes-btn {
    all: unset;
    width: 150px;
    height: 50px;
    background-color: #00666b;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.check-label {
    display: inline-block;
    width: 16px;
    height: 20px;
    background: #fff
        url('https://res.kurly.com/pc/service/order/1908/ico_checkbox_off.png')
        no-repeat 0 2px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    margin-right: 5px;
}
.check-label input {
    position: relative;
    z-index: -1;
}
.checked {
    background: url('/mintProject/shop/storage/mint/icon/checkbox.png')
        no-repeat 0 2px !important;
}

/* 카운트 버튼 */
.goods-count {
    display: inline-block;
    height: 24px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}
.qty {
    width: 42px;
    height: 24px;
    border: 0 none;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    line-height: 18px;
    text-align: center;
    bottom: 6px;
    z-index: -1;
    position: relative;
}
.goods-count > button {
    position: relative;
    width: 22px;
    height: 24px;
    outline: none;
    border: 0 none;
    padding: 0;
}
.minus::before {
    content: '-';
    position: absolute;
    bottom: 6px;
    left: 5px;
    color: #00666b;
    font-size: 40px;
    line-height: 20px;
}
.plus::before {
    content: '+';
    position: absolute;
    right: 4px;
    bottom: 2px;
    color: #00666b;
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
}

/* 상품검색 */
.search_box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    border-top: 2px solid #45b8ac;
    border-bottom: 1px solid #45b8ac;
}
.search_box .inp {
    float: left;
    width: 603px;
    height: 45px;
    margin-right: 20px;
    padding-left: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    /* letter-spacing: -1px; */
}

.search_box .search_btn {
    float: left;
    width: 175px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
}

.search_wrap {
    height: 180px;
    padding-top: 55px;
    padding-bottom: 50px;
}

/* 페이지 탑 버튼 */
.page-top-btn {
    position: fixed;
    z-index: 300;
    right: 31px;
    bottom: -70px;
    width: 58px;
    height: 58px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.btn--up {
    bottom: 30px;
    opacity: 1;
}
@media (max-width: 1250px) {
    .page-top-btn {
        display: none;
    }
}
