<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeBoardSQL">

	<!-- 목록 -->
	<select id="noticeBoardList" parameterType="java.util.Map" resultType="noticeBoard">
		<![CDATA[
			select * from 
			(select rownum rn, tt. * from
			(select * from noticeboard order by seq desc)tt
			)where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>

	<!-- 게시글 개수 -->
	<select id="getTotalNotice" resultType="int">
		select count(*) from noticeboard
	</select>

	<!-- 검색 -->	
	<select id="noticeBoardSearch" parameterType="java.util.Map" resultType="noticeBoard">
		select * from
		(select rownum rn, tt. * from
		(select * from noticeboard where
		<foreach collection="checkbox" item="check" index="i" separator="or">
		${checkbox[i]} like '%'||#{keyword}||'%' 
		</foreach>
		order by seq asc)tt
		<![CDATA[
			)where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>
	
	<!-- 검색 게시글 개수 -->
	<select id="getSearchTotalNotice" resultType="int">
		select count(*) from noticeboard where
		<foreach collection="checkbox" item="check" index="i" separator="or">
			${checkbox[i]} like '%'||#{keyword}||'%' 
		</foreach>
	</select>

	<!-- 게시물 보기 -->
	<select id="getNoticeBoardView" parameterType="int" resultType="noticeBoard">
		select * from noticeboard where seq=#{seq}
	</select>
	
	<!-- 게시판지우기 -->
	<delete id="noticeBoardDelete" parameterType="java.util.Map">
		delete from noticeboard where id=#{memId} and seq=#{seq}
	</delete>
	
	<!-- 글쓰기 -->
	<insert id="noticeBoardWrite" parameterType="java.util.Map">
		insert into noticeboard values(SEQ_NOTICEBOARD.nextval,#{id},#{subject},#{content},0,sysdate)
	</insert>
	
	<!-- noticeBoard 글 열람, 수정시 정보 가져오기 -->
	<select id="getNoticeBoardArticle" parameterType="Integer" resultType="noticeBoard">
		select * from noticeboard where seq=#{seq}
	</select>
	
	<!-- noticeBoard 글 수정 -->
	<update id="noticeBoardModify" parameterType="java.util.Map">
		update noticeboard set subject=#{subject}, content=#{content}, logtime=sysdate where seq=#{seq}
	</update>
	
</mapper>

















