<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeBoardSQL">

	<!-- 목록 -->
	<select id="noticeBoardList" parameterType="java.util.Map" resultType="noticeBoard">
		<![CDATA[
			select * from 
			(select rownum rn, tt. * from
			(select * from noticeboard order by seq asc)tt
			)where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>

	<select id="getTotalNotice" resultType="int">
		select count(*) from noticeboard
	</select>

</mapper>