<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartSQL">
	<!-- cart list 가져오기 -->
	<select id="getCartList" parameterType="java.util.Map" resultType="java.util.Map">
		select productCode, thumbNail, mainSubject, price, stock, discountRate, memLevel, ctCount from product
		join cart using(productCode) 
		join member using(id) where id=#{id}
	</select>
	
	<delete id="cartListDelete" parameterType="java.util.Map">
		delete from cart where id=#{id} and productCode=#{productCode}
	</delete>
	
	<select id="getSameCart" parameterType="java.util.Map" resultType="Integer">
		select count(*)
		  from cart
		 where productCode = #{productCode} 
	</select>
	
	<insert id="addCartProduct" parameterType="java.util.Map">
		insert into 
		  cart values
		     ( 
		       #{id} 
		     , #{productCode}
		     , sysdate
		     , #{ctCount}  
	         )
	</insert>
	
	<select id="getCartCount" parameterType="String" resultType="int">
		select count(*) from cart where id = #{id}
	</select>
	
	<delete id="cartSoldOutDelete" parameterType="java.util.Map">
		delete from cart where id=#{id} and productCode=#{productCode}
	</delete>
</mapper>