<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartSQL">
	<!-- cart list 가져오기 -->
	<select id="getCartList" parameterType="java.util.Map" resultType="java.util.Map">
		select productCode, thumbNail, mainSubject, price, stock, discountRate, memLevel, ctCount from product
		join cart using(productCode) 
		join member using(id) where id=#{id}
	</select>
	
	<delete id="cartListDelete" parameterType="java.util.Map">
		delete from cart where id=#{id} and productCode=#{productCode}
	</delete>
</mapper>