<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productManageSQL">
	<insert id="productWrite" parameterType="product">
		insert into product values(seq_product.nextval,#{mainCategory},#{subCategory},#{supplierId},#{stock},#{mainSubject},#{subSubject},#{thumbnail},#{price},#{unit},#{weight},#{packageType},#{information},#{description},#{productImage},#{details},0,0,0)
	</insert>
</mapper>