<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="mint.member.bean.MemberDTO" alias="member"/>
		<typeAlias type="mint.member.bean.SupplierDTO" alias="supplier"/>
		<typeAlias type="mint.faqBoard.bean.FAQBoardDTO" alias="faqBoard"/>
		<typeAlias type="mint.qnaBoard.bean.QnaBoardDTO" alias="qnaBoard"/>
		<typeAlias type="mint.noticeBoard.bean.NoticeBoardDTO" alias="noticeBoard"/>
		<typeAlias type="mint.suggestBoard.bean.SuggestBoardDTO" alias="suggestBoard"/>
		<typeAlias type="mint.productQnaBoard.bean.ProductQnaBoardDTO" alias="productQnaBoard"/>
		<typeAlias type="mint.event.bean.EventDTO" alias="event"/>
		<typeAlias type="mint.product.bean.ProductDTO" alias="product"/>
		<typeAlias type="mint.cart.bean.CartDTO" alias="cart"/>
		<typeAlias type="mint.orderAndSales.bean.OrderAndSalesDTO" alias="orderAndSales"/>
	</typeAliases>
</configuration>