<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="mint.qnaBoard.bean.QnaBoardDTO" alias="qnaBoard"/>
		<typeAlias type="mint.noticeBoard.bean.NoticeBoardDTO" alias="noticeBoard"/>
	</typeAliases>
</configuration>