<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventSQL">
	
	<!-- 이벤트 등록 -->
	<insert id="eventWrite" parameterType="java.util.Map" >
		<if test='isPeriodOn == 1'>
			insert into event values(SEQ_EVENT.nextval,#{subject},to_date(#{startDate},'yyyy-MM-dd HH24:mi'),to_date(#{endDate},'yyyy-MM-dd HH24:mi'),sysdate,#{productCode},#{eventStatus})
		</if>
		<if test='isPeriodOn == 0'>
			insert into event(seq,subject,logtime,productcode,eventstatus)
						 values(SEQ_EVENT.nextval,#{subject},sysdate,#{productCode},#{eventStatus})
		</if>
	</insert>

	<!-- 이벤트 리스트 가져오기 -->
	<select id="getEventList" parameterType="java.util.Map" resultType="event">
		<![CDATA[
			select * from (select rownum rn, tt.* from
		 (select * from event order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
		]]>  
	</select>

	<!-- 이벤트 총 개수 구하기 -->
	<select id="getTotalEvent" resultType="Integer">
		select count(*) from event
	</select>

	<!-- 이벤트 삭제 -->
	<delete id="eventDelete" parameterType="java.util.Map">
		delete event where seq in 
		<foreach collection="array" item="seq" index="i" open="(" separator="," close=")">
			#{seq}
		</foreach>
	</delete>

	<!-- 이벤트 정보 가져오기 -->
	<select id="getEvent" parameterType="Integer" resultType="event">
		select * from event where seq=#{seq}
	</select>
	
	<!-- 이벤트 수정 -->
	<update id="eventModify" parameterType="java.util.Map">
		<if test='isPeriodOn == 1'>
			update event set subject=#{subject}, startDate=(to_date(#{startDate},'yyyy-MM-dd HH24:mi')), endDate=(to_date(#{endDate},'yyyy-MM-dd HH24:mi')), logtime=sysdate, productCode=#{productCode}, eventStatus=#{eventStatus} where seq=#{seq}
		</if>
		<if test='isPeriodOn == 0'>
			update event set subject=#{subject}, startDate=null, endDate=null, logtime=sysdate, productCode=#{productCode}, eventStatus=#{eventStatus} where seq=#{seq}
		</if>	
	</update>
	
	
	<!-- 

	<select id="faqCategorySearchList" parameterType="java.util.Map" resultType="faqBoard">
		<![CDATA[
		select * from (select rownum rn, tt.* from
		 (select * from faqboard
		 ]]> 
		 
		<if test='category != 9'>
			<![CDATA[
				where category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]>  
		</if>
		<if test='category == 9'>
			<![CDATA[
				order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
	</select>
	

	<select id="getFAQCategoryTotalArticle" parameterType="java.util.Map" resultType="Integer">
		<if test='category != 9'>
			select count(*) from faqboard where category like #{category}
		</if>
		<if test='category == 9'>
			select count(*) from faqboard
		</if>
	</select>
	
	

	<select id="faqBoardSearch" parameterType="java.util.Map" resultType="faqBoard">
	 	<if test='searchOption == null and category == 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where subject like '%'||#{keyword}||'%' order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
		<if test='searchOption == null and category != 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where subject like '%'||#{keyword}||'%' and category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>

		<if test='searchOption != null and category == 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where #{searchOption} like '%'||#{keyword}||'%' order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
		<if test='searchOption != null and category != 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where #{searchOption} like '%'||#{keyword}||'%' and category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
	</select>
	

	<select id="getSearchTotalArticle" parameterType="java.util.Map" resultType="Integer">
		<if test='searchOption == null and category == 9'>
			select count(*) from faqboard where subject like '%'||#{keyword}||'%'
		</if>
		<if test='searchOption == null and category != 9'>
			select count(*) from faqboard where subject like '%'||#{keyword}||'%' and category like #{category}
		</if>
		<if test='searchOption != null and category == 9'>
			select count(*) from faqboard where #{searchOption} like '%'||#{keyword}||'%'
		</if>
		<if test='searchOption != null and category != 9'>
			select count(*) from faqboard where category like #{category} and #{searchOption} like '%'||#{keyword}||'%'
		</if>
	</select>
	
	-->
</mapper>