<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqBoardSQL">

	<!-- FAQ게시판 목록 가져오기 -->
	<select id="getFAQBoardList" parameterType="java.util.Map" resultType="faqBoard">
		<![CDATA[
			select * from (select rownum rn, tt.* from
		 (select * from faqboard order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
		]]>  
	</select>

	<!-- FAQ게시판 총 게시물 총 개수 가져오기 -->
	<select id="getFAQTotalArticle" resultType="Integer">
		select count(*) from faqboard
	</select>
	
	
	<!-- FAQ게시판 게시물 검색 & 카테고리 선택 -->
	<select id="faqBoardSearchList" parameterType="java.util.Map" resultType="faqBoard">
		<![CDATA[
		select * from (select rownum rn, tt.* from
		 (select * from faqboard
		 ]]> 
		 
		<if test='category != 9 and keyword == null'>
			<![CDATA[
				where category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
			]]>  
		</if>
		<if test='category == 9 and keyword != null'>
			<![CDATA[
				where subject like '%'||#{keyword}||'%' order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
			]]> 
		</if>
		<if test='category != 9 and keyword != null'>
			<![CDATA[
				where category like #{category} and subject like '%'||#{keyword}||'%' order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
			]]> 
		</if>
		<if test='category == 9 and keyword == null'>
			<![CDATA[
				order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
			]]>
		</if>
	</select>
	
	<!-- FAQ게시판 게시물 검색 & 카테고리 선택 시 총 게시물 수 가져오기-->
	<select id="getSearchTotalArticle" parameterType="java.util.Map" resultType="Integer">
		<if test='category != 9 and keyword == null'>
			select count(*) from faqboard where category like #{category}
		</if>
		<if test='category == 9 and keyword != null'>
			select count(*) from faqboard where subject like '%'||#{keyword}||'%'
		</if>
		<if test='category != 9 and keyword != null'>
			select count(*) from faqboard where category like #{category} and subject like '%'||#{keyword}||'%'
		</if>
		<if test='category == 9 and keyword == null'>
			select count(*) from faqboard
		</if>
	</select>
	
	
	
	<!-- FAQ관리자 게시물 등록 -->
	<insert id="faqBoardWrite" parameterType="java.util.Map">
		insert into faqboard values(SEQ_FAQBOARD.nextval,#{id},#{subject},#{content},#{category},sysdate)
	</insert>	
	
	<!-- FAQ게시판 글 열람, 수정시 정보 가져오기 -->
	<select id="getFAQArticle" parameterType="Integer" resultType="faqBoard">
		select * from faqboard where seq=#{seq}
	</select>
	
</mapper>