<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqBoardSQL">

	<!-- FAQ게시판 목록 가져오기 -->
	<select id="getFAQBoardList" parameterType="java.util.Map" resultType="faqBoard">
		<![CDATA[
			select * from (select rownum rn, tt.* from
		 (select * from faqboard order by seq desc) tt) where rn >= #{startNum} and rn<= #{endNum}
		]]>  
	</select>

	<!-- FAQ게시판 총 게시물 총 개수 가져오기 -->
	<select id="getFAQTotalArticle" resultType="Integer">
		select count(*) from faqboard
	</select>
	
	<!-- FAQ게시판 카테고리 선택시  -->
	<select id="faqCategorySearchList" parameterType="java.util.Map" resultType="faqBoard">
		<![CDATA[
		select * from (select rownum rn, tt.* from
		 (select * from faqboard
		 ]]> 
		 
		<if test='category != 9'>
			<![CDATA[
				where category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]>  
		</if>
		<if test='category == 9'>
			<![CDATA[
				order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
	</select>
	
	<!-- FAQ게시판 카테고리 선택시 총 게시물 -->
	<select id="getFAQCategoryTotalArticle" parameterType="java.util.Map" resultType="Integer">
		<if test='category != 9'>
			select count(*) from faqboard where category like #{category}
		</if>
		<if test='category == 9'>
			select count(*) from faqboard
		</if>
	</select>
	
	
	<!-- FAQ게시판 게시물 검색 -->
	<select id="faqBoardSearch" parameterType="java.util.Map" resultType="faqBoard">
	 	<if test='searchOption == null and category == 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where subject like '%'||#{keyword}||'%' order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
		<if test='searchOption == null and category != 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where subject like '%'||#{keyword}||'%' and category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>

		<if test='searchOption != null and category == 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where ${searchOption} like '%'||#{keyword}||'%' order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
		<if test='searchOption != null and category != 9'>
			<![CDATA[
				select * from (select rownum rn, tt.* from (select * from faqboard where ${searchOption} like '%'||#{keyword}||'%' and category like #{category} order by seq desc) tt) where rn >= #{startNum} and rn <= #{endNum}
			]]> 
		</if>
	</select>
	
	<!-- FAQ게시판 게시물 검색 시 총 게시물 수 가져오기-->
	<select id="getSearchTotalArticle" parameterType="java.util.Map" resultType="Integer">
		<if test='searchOption == null and category == 9'>
			select count(*) from faqboard where subject like '%'||#{keyword}||'%'
		</if>
		<if test='searchOption == null and category != 9'>
			select count(*) from faqboard where subject like '%'||#{keyword}||'%' and category like #{category}
		</if>
		<if test='searchOption != null and category == 9'>
			select count(*) from faqboard where ${searchOption} like '%'||#{keyword}||'%'
		</if>
		<if test='searchOption != null and category != 9'>
			select count(*) from faqboard where category like #{category} and ${searchOption} like '%'||#{keyword}||'%'
		</if>
	</select>
	
	
	
	<!-- FAQ관리자 게시물 등록 -->
	<insert id="faqBoardWrite" parameterType="java.util.Map">
		insert into faqboard values(SEQ_FAQBOARD.nextval,#{id},#{subject},#{content},#{category},sysdate)
	</insert>	
	
	<!-- FAQ게시판 글 열람, 수정시 정보 가져오기 -->
	<select id="getFAQArticle" parameterType="Integer" resultType="faqBoard">
		select * from faqboard where seq=#{seq}
	</select>
	
	<!-- FAQ게시판 삭제 -->
	<delete id="faqDelete" parameterType="java.util.Map">
		delete faqboard where seq in 
		<foreach collection="array" item="seq" index="i" open="(" separator="," close=")">
			#{seq}
		</foreach>
	</delete>
	
	<!-- FAQ게시판 글 수정 -->
	<update id="faqModify" parameterType="java.util.Map">
		update faqboard set subject=#{subject}, content=#{content}, logtime=sysdate where seq=#{seq}
	</update>
	
</mapper>