<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productQnaBoardSQL">

	<!-- 관리자 페이지 -->
	<!-- 전체보기 -->
	<select id="getAllProductQnaBoardTotArticle" resultType="int">
		select count(*) from productQnaBoard
	</select>
	<select id="getAllProductQnaBoardList" parameterType="java.util.Map" resultType="productQnaBoard">
		select * from 
		(select rownum rn, temp.* from 
		(select * from productQnaBoard order by seq desc) temp) 
		where rn between #{startNum} and #{endNum}
	</select>
	<!-- 답변여부로 나누어 보기 -->
	<select id="getProductQnaBoardTotArticle" parameterType="java.util.Map" resultType="int">
		select count(*) from productQnaBoard where ${key}=#{value}
	</select>
	<select id="getProductQnaBoardList" parameterType="java.util.Map" resultType="productQnaBoard">
		select * from 
		(select rownum rn, temp.* from 
		(select * from productQnaBoard where ${key} = #{value} order by seq desc) temp) 
		where rn between #{startNum} and #{endNum}
	</select>
</mapper>